$bg: #EBF0F7;

$white: #ffffff;
$black: #000000;

$gray-10: #dddddd;
$gray-20: #e6e6e6;
$gray-100: #d0d7e2;
$gray-200: #909090;
$gray-400: #323232;
$gray-500: #202020;
$gray-850: #1a1a1a;
$gray-950: #151515FF;

$violet-150: #c1c4ff;
$violet-250: #7a7ffb;
$violet-350: #535bf2;
$violet-450: #4e22c9;

$pink-200: #b76dc0;
$pink-600: #ff2d55;